body {
    background-color: gainsboro;
}

main {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    margin: 5vh;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.placeholder {
    background-color: cornsilk;
}

.title {
    text-align: center;
}

.snippet {
    height: 32rem;
    width: 18rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
