.page {
	min-width:100vw;
	min-height: 100vh;
	display :none;
}

.page.show {
	display: flex;
  flex-flow: column nowrap;
}

button{
	background-color:black;
	color: white;
	border: none;
	padding: 5px;

}

button:active{
	background-color:red;
}