* {
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.3rem 1.3rem;
  border-radius: 15px;

  cursor: pointer;
  background-image: $color_gradient_button;
}

// Offline Notification ===============================

.offline-popup {
  transition: transform 0.3s;
  transform: translateY(-100%) translateX(-50%);
  position: fixed;
  left: 50%;
  background: #222;
  color: white;
  padding: 0.5em;
  text-align: center;
  
  .offline-msg {
    display: none;
  }
  
}


.offline {
  .offline-notification {
    transition: transform 0.3s;
    transform: translateY(0) translateX(-50%);
  }
  
  .online-msg {
    display: none;
  }
  
  .offline-msg {
    display: block;
  }
}

body, html {
  margin: 0;
  height: 200vh;
}

// ends Offline Notification ==========================
.slider {
  background: $color_gradient_slider;
  border: solid 1px #82cfd0;
  border-radius: 8px;
  height: 7px;
  width: 125px;
  outline: none;
  transition: all 450ms ease-in;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    width: 6px;
    -webkit-appearance: none;
    height: 12px;
    background: black;
    border-radius: 2px;
  }
}

input[type="range"]::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  background: $color_dark_tone;
  border-radius: 10px;
  border: solid 1px white;
}
