// page 05 : Add Genres ================================== -->

#form05 {
  display: flex;
  flex-flow: row nowrap;

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: inline-block;
    background-color: white;
    cursor: pointer;

    border-radius: 5px;
    padding: 0.3rem 1rem;
  }

  input[type="checkbox"]:checked + label {
    background-color: red;
  }

  .input-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
}
