/* ================================================= */

.onboarding {
    img {
        width: 40%;
        height: auto;
        margin: auto;
    }
}

/* ================================================= */

.sign-in {
    img {
        width: 20%;
        height: auto;
        margin: 1rem auto;
    }
}
