// Progress bar ===============================================================
.progress-bar {
    height: 4px;
    width: 100vw;
    background: $color_mid_tone;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#progress1 .progress-child1,
#progress2 .progress-child1, #progress2 .progress-child2,
#progress3 .progress-child1, #progress3 .progress-child2, #progress3 .progress-child3 {
    background: $color_high_tone;
}

// Start page 01 : Initial page with SoundPath Logo =======

#page01 {
    .logo {
        width: 150px;
    }

    #content01 {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

// Camera Styling =========================================

.camera-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: none;  
    background-image: black;
}
  
.camera-wrapper.show {
    display: flex;
    // flex-flow: column nowrap;
}

// Start page 02 : Login With Spotify =====================

#btn02 {
    margin: 5rem;
}

// Start page 03 : Greetings, create a new playlist =======

#page03 {
    #btn03 {
        border-radius: 50%;
        padding: 0.8rem 1rem;
        box-shadow: 0px 3px 18px #00000052;
    }

    p {
        background-image: $color_gradient_clear;
        padding: 2rem;
    }
}

// Start page 04 : Create New Playlist, Name ==============

#page04 {
    #btnBack04 {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.8rem 1rem;
        box-shadow: 0px 3px 18px #00000052;
        background-image: none;
    }

    .navbar-bottom {
        margin-top: 20px;
    }

    #name {
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        border-bottom: 1px solid #c42bd7;
    }
}

// Start page 05 : Create New Playlist, Genres ============

#page05 {
    #btnBack05 {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.8rem 1rem;
        box-shadow: 0px 3px 18px #00000052;
        background-image: none;
    }

    .genre-element {
        label {
            background-color: #110844;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            color: #ffffff;
            border-radius: 10rem;
            font-weight: lighter;
        }

        label:active {
            background-color: #ffffff;
            color: #c42bd7;
        }
    }

    .navbar-bottom {
        margin-top: 20px;
    }
}

// Start page 06 : Create New Playlist, Genres ============

#page06 {
    #btnBack06 {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.8rem 1rem;
        box-shadow: 0px 3px 18px #00000052;
        background-image: none;
    }

    .navbar-bottom {
        margin-top: 20px;
    }

    #form05 {
        margin-left: 45%;
    }
}

// Start page 08 : Playlist ===============================

#page08 {
    #btnBack08 {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.8rem 1rem;
        box-shadow: 0px 3px 18px #00000052;
        background-image: none;
    }

    #outputList {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

.output-wrap {
    display: flex;
    justify-content: center;
}

.songOutput {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 600px;
    height: 50px; 

    .coverElement {
        width: 50px;
        height: 50px;
        object-fit: cover;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    .titleElement {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: start;
        font-size: 19px;
        text-align: left;
    }

    .artistElement {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self: start;
        font-size: 16px;
    }

    .artistElement::before {
        content: "by ";
    }
}
