// Start page 01 : Initial page with SoundPath Logo ==========

#page01 {
    .logo {
        width: 150px;
    }

    #content01 {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

// Start page 03 : Greetings, create a new playlist ==========

#page03 {
    #btn03 {
        border-radius: 50%;
        padding: 0.8rem 1rem;
        box-shadow: 0px 3px 18px #00000052;
    }

    p {
        background-image: $color_gradient_clear;
        padding: 2rem;
    }
}

// Start page 04 : Create New Playlist, Name ==========

#page04 {
    #btnBack04 {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.8rem 1rem;
        box-shadow: 0px 3px 18px #00000052;
        background-image: none;
    }

    .navbar-bottom {
        margin-top: 20px;
    }

    #name {
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        border-bottom: 1px solid #c42bd7;
    }
}

// // Start page 05 : Create New Playlist, Genres ==========

#page05 {
    #btnBack05 {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.8rem 1rem;
        box-shadow: 0px 3px 18px #00000052;
        background-image: none;
    }

    .genre-element {
        label {
            background-color: #110844;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            color: #ffffff;
            border-radius: 10rem;
            font-weight: lighter;
        }
    }
}
